<header class="region"><div class="inner"><center>
	  
	  <a class="logo-link" itemprop="url" href="{{ '/' | relative_url }}">
	    <h1 class="site-name" itemprop="name">
	      <img class="logo" itemprop="logo" src="{{ '/images/logo_mark.png' | relative_url }}" alt="{{ site.title }}" />
	    </h1>
	  </a></center></div>
	  <div class="actions"><center>
	  
	    <a class="button icon tel" itemprop="telephone" href="tel:+13133335790">{{ site.phone }}</a>
	    <a class="button icon email" itemprop="email" href="mailto:{{ site.email }}">{{ site.email }}</a>
	  
	    <a class="button icon facebook" itemprop="facebook" href="https://messenger.com/t/usafconstruction">Message us</a>
	    <a class="button icon star" itemprop="star" href="https://www.homeadvisor.com/rated.USAFRoofingLLC.27327282.html">Read Reviews</a>
	  

</center></div>
</header>