<header class="region">
  <div class="inner">
    <center>
      <a class="logo-link" itemprop="url" href="{{ '/' | relative_url }}">
        <h1 class="site-name" itemprop="name">
          <img
            class="logo"
            itemprop="logo"
            src="{{ '/images/logo_mark.png' | relative_url }}"
            alt="{{ site.title }}"
          />
          <img
            class="logo"
            itemprop="logo-helper"
            src="{{ '/images/construction-photos/usaf-logo-extra.png' | relative_url }}"
            alt="roofers in metro detroit"
          />
        </h1>
      </a>
    </center>
  </div>
  <div class="actions">
    <center>
      <a class="button icon tel" itemprop="telephone" href="tel:+13133335790"
        >{{ site.phone }}</a
      >
      <a
        class="button icon email"
        itemprop="email"
        href="mailto:{{ site.email }}"
        >{{ site.email }}</a
      >

      <a
        class="button icon facebook"
        itemprop="facebook"
        href="http://m.me/usafconstruction"
        >Message us</a
      >
      <a
        class="button icon star"
        itemprop="star"
        href="https://goo.gl/maps/5m3p3hAwiKQgpuzt6"
        >Read Reviews</a
      >
    </center>
  </div>
</header>
