<nav class="region"><div class="inner">
<ul class="menu inline-block">
 <li>
   <a href="{{ '/' | relative_url }}">
      Home
    </a>
  </li>
   <li>
   <a href="{{ '/new-construction' | relative_url }}">
      New Construction
    </a>
  </li>
   <li>
   <a href="{{ '/roofing' | relative_url }}">
      Roofing
    </a>
  </li>
   <li>
   <a href="{{ '/remodeling' | relative_url }}">
      Remodeling
    </a>
  </li>
   <li>
   <a href="{{ '/about' | relative_url }}">
      About
    </a>
  </li>

</ul>
</div></nav>