<div class="location captioned">
    <a class="map" href="https://www.google.com/maps/place/23440+Woodward+Ave,+Ferndale,+MI+48220/" target="_blank">
      View on Google Maps
    </a>
    <div class="caption"><div class="inner">
      <address class="inline-block" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span>FIDO Personal Dog Training, LLC</span><br>
        <span itemprop="streetAddress">23440 Woodward Ave</span><br>
        <span itemprop="addressLocality">Ferndale</span>, <span itemprop="addressRegion">MI</span>
         <span itemprop="postalCode">48220</span>
      </address>
      <div class="inline-block smaller">
        <strong>Phone</strong>: <a href="tel:+12486079350" itemprop="telephone">(248) 607-9350</a><br>
        <strong>Fax</strong>: <a href="fax:+12483988600" itemprop="faxNumber">(248) 398-8600</a><br>
        <a href="mailto:fidofetch@sbcglobal.net" itemprop="email">fidofetch@sbcglobal.net</a>
      </div>
    </div></div>
  </div>
  <div class="social">
	<a href="https://www.facebook.com/FidoPersonalDogTraining" rel="me" target="_blank">Facebook</a>
  <a href="https://twitter.com/FidoDogTraining" target="_blank">Twitter</a>
  <a href="https://plus.google.com/u/0/113726013402893239538" rel="publisher" target="_blank">Google+</a>
	<a href="http://www.yelp.com/biz/fido-personal-dog-training-llc-ferndale" target="_blank">Yelp</a>
  <a href="https://www.youtube.com/channel/UCW_H1tVFH2sykDCwcWpHXgA" target="_blank">YouTube</a>
</div>
</div></footer>
<div class="region copyright"><center><div class="inner">
  <p>&copy; Copyright 2018 FIDO Personal Dog Training, LLC.</p>
  <p><a href="http://www.github.com/fidodogtraining/fidodogtraining.github.io" target="_blank">Github source</a></p>
  <div class="affiliations">
    <a href="http://www.ccpdt.org/" target="_blank">
      <img alt="" src="/images/affiliations/cpdt-ka.png" />
    </a>
    <a href="http://www.associationofanimalbehaviorprofessionals.com/pillars.html" target="_blank">
      <img alt="" src="/images/affiliations/aabp.png" />
    </a>
    <a href="https://apdt.com/about/" target="_blank">
      <img alt="" src="/images/affiliations/apdt.png" />
    </a>
    <a href="http://catchdogtrainers.com/who-we-are/" target="_blank">
      <img alt="" src="/images/affiliations/catch.png" />
    </a>
    <a href="https://malenademartini.com/about/why-hire-csat-trainer/" target="_blank">
      <img alt="" src="/images/affiliations/csat.png" />
    </a></center>
  </div>
</div></div>
</center></div>